# removing library installs
src/*

# removing python binaries
*.pyc

# removing atom files
.ropeproject/*

# removing pytest caches
*.pytest_cache
tests/*.cache
*.cache
*.coverage

# removing doc builds
docs/_build/*

# nano files
*.save

# removing eggs
*.eggs
*ether_sql.egg-info/
*venv

# removing exported files
*.csv

# removing redis connection files
dump.rdb

# removing ftpconfig
.ftpconfig
