# modified ethjsonrpc
web3==4.4.1

# SqlAlchemy
sqlalchemy==1.2.4
alembic==0.9.9
psycopg2-binary==2.7.4

# CLI
Click==6.7

# Testing and coverage
pytest==3.0.0
pytest-cov==2.2.1

# For building docs
sphinx==1.7.4
sphinx_rtd_theme==0.3.1
sphinx_click==1.2.0

# Task queue
Celery==4.1.1
flower==0.9.2
