# modified ethjsonrpc
-e git://github.com/analyseether/web3.py.git@develop/web3py#egg=web3.py

# SqlAlchemy
sqlalchemy==1.2.4
alembic==0.9.9
psycopg2-binary==2.7.4

# CLI
Click==6.7

# Testing and coverage
pytest==3.0.0
pytest-cov==2.2.1
